*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:18px;
}
body{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-evenly;
    min-height:100vh;
    background-color:#F8F8F8;
    color:#2C2C2C;
    font-family: 'Praise', cursive;
}

#sketch{
    display:flex;
    flex-wrap:wrap;
    width: 600px;
    max-height:600px;
}

   

.light-class{
    filter:brightness(50%)
}
.panel{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    

}
.panelAndSketch{
    display:flex;
    gap:30px;
    padding:15px;

}


.buttons{
    padding:10px 50px;
    background-color: inherit;
    border: 0.1px solid #2C2C2C;
    border-radius: 5px;
    width:100%;
    font-family:inherit;
    cursor: pointer;
    
}
.buttons:hover{
    transform: scale(1.05);
}

.gridStyles{
    box-shadow: 0 0 10px #696969;
}
h1{
    font-size:5rem;
}
.gridSlider{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:16px;
    
    width:100%;
}
#slider{
    -webkit-appearance: none;
    appearance: none;
    opacity:0.7;
    background: white;
    width:100%;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor:pointer;
    border:1px solid #2C2C2C;
    border-radius: 5px;
}


#color-select{
    
    width:80px;
    height:80px;
    border:none;
}
#color-select:hover{
    transform: scale(1.1);
}
.selected{
    background-color: #2C2C2C;
    color:#F8F8F8;
}