*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    flex-direction:column;
    align-items:center;
    min-height:100vh;
    background-color: rosybrown;
    
}

#sketch{
    display:flex;
    flex-wrap:wrap;
    width: 450px;
    max-height:450px;
    background-color:rosybrown;
    

}
.grid-block{
    background-color:white;
    
}

}   
.borders{
    border: 1px solid black;
}
